## Kubernetes Audit Report

{% for issue in results.issues %}
### Issue
- **Name**: {{ issue.name }}
- **Namespace**: {{ issue.namespace }}
- **Fault**: {{ issue.fault }}
- **Severity**: {{ issue.severity }}

{% endfor %}
